<template>

    <!-- tweet content and send button -->
    <div class="ui row">
<br>
      <table class="ui fixed single line celled table">
        <thead>
        <tr>
          <th class="two wide">Sent By:</th>
          <th class="eleven wide">Tweeted:</th>
          <th class="three wide center aligned">Time:</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="tweet of tweets">
          <td class="center aligned">
            ${tweet.user.firstName}
          </td>
          <td>
            ${tweet.text}
          </td>
          <td class="center aligned">
            ${tweet.date}
          </td>
        </tr>
        </tbody>
      </table>

    </div>

</template>
